.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px; /* 默认宽度 */
  background: #f0f0f0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.resizer {
  width: 1px;
  cursor: ew-resize;
  background: #eae7e7; /* 更改背景颜色 */
  z-index: 1;
  transition: background-color 0.3s ease; /* 平滑过渡效果 */
}

.resizer:hover {
  background: #aaa; /* 鼠标悬停时的颜色 */
}

.content {
  flex-grow: 1;
  overflow: auto;
  padding: 16px;
}

/* 确保 resizer 是绝对定位的 */
.resizer {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0,0,0,0.1); /* 添加阴影效果 */
}
